article {
    color: #FF8D00;
    background-color: #ccc;
    width: 20%;
    height: 100%;
    float: left;
}
section, div {
    display: none;
}
img.CodeTemplier{
    height: 40%;
    width: 30%;
}

img.illustration{
    margin-left: 35%;
    height: 50%;
}

img.imgfond {
    width: 100%;
}
span.text{
    display: inline;
}
span.img{
    display: inline-block;
}

img.div_button {
    height: 110%;
    width: 10%;
}
img.right_border{
    margin-right: 35%;
}
img.left_border{
    margin-left: 20%;
}
img.solo{
    margin-left: ;
}
div.petite{
    height: 100%;
}
button {
    border: none;
    height: 4%;
    width: 28%;
    text-align: center;
    margin-right: 5%;
    font-size: 100%;
    background-color: #ccc;
}

.button_PA{
        transition: display;		
}
.div_button {
    width: 100%;
}
header {
    background-color: #ccc;
}

.WriteOnImg {
    position: absolute;

}

p, h3, .page, ol, h4{
    text-indent: 50px;
    margin-left: 22%;
}
h2 {
    text-align: center;
}
.home, .list{
    margin-left: 0%;
}
.Menu{
    margin-bottom: 5%;
    cursor: pointer;
}
footer{
    background: rgba(200, 200, 200, 1.2);
    width: 100%;
    display: block;
    height: 25%;
}
img.footer{
    z-index: 0;
      cursor: pointer;
    height: 100%;
    margin-bottom: 1%;
    margin-top: 1%;
    position: static;
}
div.footer{
    width: 10%;
    position: relative;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    z-index: 0;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
    height: 90%;
    margin-right: 20%;
}
span.footer{
    display: block;
    position: absolute;
    color: white;
    background: black;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
    z-index: 1;
    cursor: pointer;
    height: 100%;
}
div.text_footer{
    display: block;
    text-align: center;
    font-size: 150%;
}
div.footer:hover span.footer {
opacity: 0.8;
transform: translate(0, -100%);
}
.button{
    cursor: pointer;
}

.purple{
    background-color: purple;
}

.brown{
    background-color: brown;
}

.blue{
    background-color: rgba(025, 25, 112, 0.95);
    color: #FFD700;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.Technique{
    background-color: green;
}

.Livre{
    background-color: royalblue;
}

.Progression{
    background-color: yellow;
}